<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Kushagra Mandaliya. It uses mapbox.com and weatherstack.com for the data.</p>
            <img class="portrait" src="/img/kushagra.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>